body {
    background-color: #5c9ec4;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

.container_for_stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#list-of-sounds {
    width: 45em;
    height: 40em;
    margin: 1px;
    margin-top: 150px;
}

#pie-chart{
    width: 45em;
    height: 40em;
    margin: 1px;
}

.sounds-page-button {
    background-color: #e9e9f1;
    text-align: center;
    margin-top: 10px;
    padding: 2px;
    color: #ff7f50;
    font-size: 20px;
    font-family: "Bell MT";
}